body {
  background-image: url(assets/grass_background.jpg);
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
}

#bingotable {
  margin: 0 auto;
  text-align: center;
  width:400px;
  height:400px;
  border-collapse: collapse;
  background: white;
}

#bingotable td {
  font-family: serif;
  font-weight: 600;
  font-size: 25px;
  color: green;
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  width: 16.667%;
}

#scoreboard {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width:300px;
  height:100px;
  border-collapse: collapse;
  background: #333333;
}

#scoreboard td {
  font-family: serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin: 0 auto;
  text-align: center;
  border: 3px solid white;
  width: 50%;
}

h1{
  font-family: 'Play', sans-serif;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: red;
}

#button {
  display: block;
  height: 40px;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #4e3b25;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
  inset 0 1px 0 #4B7634;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

#finished {
  color: white;
  text-decoration: none;
}
